@charset "utf-8";
/* CSS Document */

/*全局样式*/
@CHARSET "UTF-8";


body{color:#000;background:#f2f2f2 url(bg-v3.png) repeat/*#FFF*/;font:12px/1.6 Verdana, Helvetica, sans-serif;text-align:center;}
*{margin:0;padding:0;}
input,select{font-size:12px;vertical-align:middle;}
body div{text-align:left;}
textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;}
li{list-style-type:none;}
img{border:0 none;}
a:link, a:visited{color:#333;text-decoration: none;outline: none;}
a:hover{color:#ff5b97;text-decoration: underline;}
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
.block {width:1000px; height:auto; clear:both;margin:0 auto;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
 ::selection { background: #70A102; color: #fff; text-shadow: #000 0 1px 0; }
.fl{ float:left}
.fr{ float:right}
.wrapper{ width:1200px; margin:0 auto; padding:0 20px; background:#FFF; overflow:hidden}
.border{ border:1px solid #CCC}
/*table样式*/
table{border-collapse:collapse;border-spacing:0;}
table thead th{border:1px solid #ddd;background:#fafafa;text-align:left;padding:8px 20px;}
table td{border:1px solid #ddd;padding:8px 20px;}




nav ul {
	position: relative;
	margin-left: 100px;
}

nav ul li {
	float: left;
	list-style-type: none;
	/*background-color: rgba(180,244,229,0.8);*/
	margin: 10px 0px;
	padding: 0px 50px 0px;
	/*border-radius:10px;*/
	border-right: 1px solid #bebebe;
}

nav ul li:FIRST-CHILD {
	border-left: 1px solid #bebebe;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:foucs {
	color: black;
}

a:hover {
	color: #4cf5c4;
}

a:active {
	color: blue;
}

nav ul li a {
	text-decoration: none;
	font-weight: bolder;
}
.clear
{
	clear:both;
}
.head .top{background:url(../image/biaoti.jpg) repeat-x; height:78px;}
.head .top .wrapper{ background:none; padding:0; overflow:auto}
.head .top .logo{ padding-top:16px;}
.head .top .fl{ width:200px;}
.head .top .fr{ width:400px;}
.head .top .dl ul{ height:40px;line-height:40px; }
.head .top .dl ul li{ float:left; color:#FFF;padding:0 10px; font-size:14px;}
.head .top .dl ul li a{ color:#FFF; }
.head .top .sousuo{ float:right; margin-right:18px;*margin-right:5px;}
.head .top input.index_srh{ border:1px solid #cccccc; color:#B9B9B9; height:20px; line-height:20px; padding:0 5px;}
.head .top input.search{ background:url(search.gif) no-repeat; width:34px; height:21px; text-indent:-9999px; border:none}




.part1{ border:1px solid #dfdfdf; height:392px;/*354像素加幻灯高度34得出加幻灯标题和上面的间距得出392*/ background:#FFF}
.part1 .left{ width:200px; height:392px; border-right:1px solid #dfdfdf;}
.part1 .left dl{width:190px; margin:0 auto; border-bottom:1px solid #CCC; padding-bottom:5px; border-bottom:1px dashed #CCC; }
.part1 .left dl.dl3{ border-bottom:none}
.part1 .left dl dt{ background:url(li-ico.jpg) no-repeat 20px center; padding-left:40px; margin-top:10px;/*IE6 7*/ *margin-top:5px; font-weight:bold}
.part1 .left dl dd{ padding:7px 0;/*IE6*/*padding:2px 0}
.part1 .left dl dd a{ padding:0 8px;}

.center #myFocus{ width:560px; height:354px;}

.right{ width:246px; height:392px; overflow:hidden}
.right ul li{ padding:8px; border-bottom:1px dashed #CCC}
.right ul li.li5{ border-bottom:none}
.right ul li span{ display:block; width:247px; overflow:hidden;  padding-bottom:5px;*padding-bottom:4px;}
.right ul li span a{color:#ff5b97;font-weight:bold; font-size:13px; }
.right ul li p{ text-indent:20px; color:#CCC;}





 @media screen and (max-width : 1240px) {
 body {
 overflow:auto;
}
}
@media screen and (max-width : 900px) {
 #backlinks {
 float:none;
 clear:both;
}
 #backlinks a {
 display:inline-block;
 padding-right:20px;
}
 #wrapper {
 margin-top:90px;
}
}

.page { font-size: 16px; text-align: center;height: 35px; line-height: 35px; overflow: hidden; padding: 30px 0;}
.page a { border: 1px solid lightGrey; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 15px; margin: 0 3px; cursor: pointer; color: #919191; font-size: 16px; box-shadow: 0 1px 0 white inset, 0 1px 0px #DFDFDF; -webkit-box-shadow: 0 1px 0 white inset, 0 1px 0px #DFDFDF; -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; text-decoration: none; background-color: #F2F2F2; }
.page a:hover { background: #f6f6f6; background: -moz-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e8e8e8)); background: -webkit-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: -o-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: -ms-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8', GradientType=0 );
border: 1px solid #757575; }
.page a.on { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 15px; background: #093; color: #fff; border:none }


.xiangqing{ background:#FFF; color:#666; padding-bottom:20px;}
.xiangqing a{color:#666;}
.xiangqing a:hover{ text-decoration:none; color:#f69;}
.xiangqing .sj-wrapper{ width:950px; margin:0 auto; overflow:hidden}
.xiangqing .shangjiaming{ background:url(shop_tle.png) no-repeat 20px 16px; border-bottom:1px solid #e6e6e6;height:48px; overflow:hidden; padding-left:50px; font-size:16px; font-weight:bold; line-height:48px;}
.xiangqing .shangjiaming .right{ width:250px;}
.xiangqing .shangjiaming .right span.fl a{ display:block; float:left; width:85px; margin-top:10px; margin-right:10px; height:23px; line-height:23px; border:1px solid #6ce3ce; background:#6ce3ce; color:#FFF; font-size:12px; text-align:center;}
.xiangqing .shangjiaming .right span{ font-size:12px; font-weight:normal; display:block;height:48px; line-height:48px;}
.xiangqing .sj-logo{ text-align:center; margin:10px 0 0 0; border:1px solid #e6e6e6; border-bottom:none;}
.xiangqing .sj-logo img{ width:948px;}
.xiangqing .menu{ border:1px solid #e6e6e6; height:45px; line-height:45px;}
.xiangqing .menu a{ margin-left:45px;}


.game163{ clear:both; position: relative; overflow: hidden; width: 450px; margin-top:20px; }
.game163 .bigImg{ height: 239px; position: relative;}
.game163 .bigImg li img{ vertical-align:middle; width:450px; height:506px;   }
.game163 .bigImg  h4{ font-size: 14px; font-weight: bold; line-height: 33px; height: 33px; padding-right: 30px; overflow: hidden; text-align: left; }

.game163 .smallScroll{ height: 47px; margin-bottom: 6px;}
.game163 .sPrev,.game163 .sNext{ float: left; display: block; margin-top:10px; width: 14px; height: 47px; text-indent: -9999px; background: url(sprites1008.png) no-repeat 0 -3046px; }
.game163 .sNext{ background-position: 0 -2698px;}
.game163 .sPrev:hover{ background-position: 0 -3133px;}
.game163 .sNext:hover{ background-position: 0 -2785px;}

.game163 .tempWrap{ width:410px !important}
.game163 .smallImg{ float:left;  margin: 0 6px; display:inline; width: 410px; overflow: hidden;}
.game163 .smallImg ul{ height:71px;  width: 9999px; overflow: hidden; }
.game163 .smallImg li{ float: left; padding: 0 7px 0 0; width:62px; cursor:pointer;  display: inline;  }
.game163 .smallImg img{ border: 1px solid #dcdddd; width:62px; height:62px;  }
.game163 .smallImg .on img{ border-color: #1e50a2;}

.game163 .pageState{ position: absolute; top: 506px; right: 5px; font-family: "Times New Roman", serif; letter-spacing: 1px;}
.game163 .pageState span{ color: #f00; font-size: 16px;}

.jieshao{ width:470px; margin-top:20px;}
.jieshao .title{ font-size:16px; font-weight:bold; line-height:26px;}
.jieshao .by img{ width:32px; height:32px; margin-top:10px;}
.jieshao .by p{ width:430px;margin-bottom:15px;}
.jieshao .by .b1{ background:url(sale140314.png) no-repeat -123px 0; height:16px; padding-left:15px;}
.jieshao .by .b2{ background:url(sale140314.png) no-repeat -156px 0; height:16px; padding-left:15px;}

.jieshao .jg{ padding:30px 0;}
.jieshao .jg ul li{ line-height:26px; clear:both;}
.jieshao .jg .red{ color:#2bd9ba;}
.jieshao .jg .btn{ height:20px; line-height:20px; background:#6ce3ce; color:#FFF; padding:2px 5px; margin:15px;5px;-webkit-border-radius:3px;border-radius:3px;}
.jieshao .jg span{ float:left;margin-top:15px;margin-top:15px;}
.jieshao .jg span.short{ width:66px; height:26px; line-height:26px;}
.jieshao .jg span.price{ font-size:24px;}
.jieshao .jg span.yj{ text-decoration:line-through;}
.jieshao .jg span.star{ background:url(sale140314.png) no-repeat -39px 0; width:65px;  margin-top:15px; margin-right:5px; height:12px; overflow:hidden}
.jieshao .jg span.img{ margin-right:10px; margin-bottom:10px;}
.jieshao .jg span.img img{ width:44px; height:44px; padding:1px; border:1px solid #d2d2d2;}
.jieshao .jg span.jian{ border:1px solid #d2d2d2; width:19px; height:19px; margin-top:3px; overflow:hidden; background:url(sale140314.png) no-repeat -48px -72px}
.jieshao .jg input.num { display:block; float:left; background:none;border:none; width:32px; height:19px; margin-top:3px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2; text-align:center; line-height:19px;}
.jieshao .jg span.jia{background:url(sale140314.png) no-repeat -76px -72px;width:19px; height:19px; margin-top:3px;border:1px solid #d2d2d2;overflow:hidden;}

.btn_box a{ display:block; float:left; color:#FFF;}
.btn_box a:hover{ color:#FFF;}
.btn_box a.jiaru{ width:130px; height:40px; line-height:40px; background:#6ce3ce; text-align:center; font-size:16px; margin-right:5px;}
.btn_box a.jiaru em{ height:20px; padding-left:20px;background:url(sale140314.png) no-repeat -62px -36px;}
.btn_box a.like{width:130px; height:40px; line-height:40px; background:#f69;text-align:center;font-size:16px;}
.btn_box a.like em{height:20px; padding-left:20px;background:url(sale140314.png) no-repeat -100px -35px}

.sj-center{ clear:both;padding-top:30px;}
.sj-center ul li{ float:left;  height:50px; width:220px; margin:0 5px;}
.sj-center ul li img{ float:left; margin-right:20px; margin-top:5px;}
.sj-center ul li p a{ color:#999; font-family:"微软雅黑", "黑体", Arial; padding-top:4px;}
.sj-center ul li p.da a{ font-size:18px;}

.renqi{ padding-top:20px;}
.renqi .title{ color:#666; font-weight:bold; font-size:16px; line-height:20px; padding-left:20px;}
.renqi ul{ margin-top:20px; width:1000px; overflow:hidden}
.renqi ul li{ width:180px; margin:0 6px; float:left}
.renqi ul li img{ width:180px; height:255px;}
.renqi ul li .p1{ color:#666; line-height:18px; margin:6px 0 5px; height:36px; width:100%;}
.renqi ul li em{ font-style:normal}
.renqi ul li em.em1{ color:#f69; font-size:16px;}
.renqi ul li .p2{ padding-bottom:8px; border-bottom:1px dotted #CCC; margin-bottom:8px;}


/* Tab切换 */
.slideTxtBox{ overflow:hidden;  padding:40px 10px 10px 10px; text-align:left;   }
.slideTxtBox .hd{ height:48px; line-height:48px; background:#eee;font-size:15px; }
.slideTxtBox .hd ul{ overflow:hidden; zoom:1;  }
.slideTxtBox .hd ul li{ float:left; }
.slideTxtBox .hd ul li a{ display:block; padding:0 20px; font-weight:bold;  }
.slideTxtBox .hd ul li a:hover{ text-decoration:none;  }
.slideTxtBox .hd ul li.on a{ background:#e6e5e5; color:#6ce3ce; }
.slideTxtBox .hd ul li.car{ float:right !important;}
.slideTxtBox .hd ul li.car a{ width:130px; height:48px; padding:0; text-align:center; background:#2bd9ba; color:#FFF}
.slideTxtBox .bd{ width:100%; overflow:hidden;}
.slideTxtBox .bd ul div.sp{ width:908px; margin:0 auto; overflow:hidden;}
.slideTxtBox .bd ul div.sp dd{ width:226px; height:32px; line-height:32px; overflow:hidden;white-space:nowrap; float:left}
.slideTxtBox .bd ul div.spxq{ width:908px; margin:0 auto;margin-top:20px;}
.slideTxtBox .bd ul div.spxq p img{ width:500px; height:400px;margin:0 auto;margin-top:20px;}
.slideTxtBox .bd ul div.pj{ }
.slideTxtBox .bd ul div.pj .top{padding:20px 0 40px 50px; border-bottom:1px solid #e6e6e6}
.slideTxtBox .bd ul div.pj .em1{ color:#f69; font-size:30px; font-style:normal;}
.slideTxtBox .bd ul div.pj .em2{ float:left;font-style:normal; background:url(star-c1.png) repeat-x; height:16px; width:74px;}
.slideTxtBox .bd ul div.pj dl{ width:908px; margin:0 auto;}
.slideTxtBox .bd ul div.pj dl dd{ padding:30px 0; border-bottom:1px dotted #e6e6e6}
.slideTxtBox .bd ul div.pj dl dd img{ width:48px; height:48px; margin-right:20px;margin-top:10px;}
.slideTxtBox .bd ul div.pj dl dd p{ margin-top:10px;}

.page2{ padding:30px 0; text-align:center}
.page2 a{ padding:2px 5px; background:#ffe1ea; border:1px solid #fcc8d9; margin:0 5px;}
.page2 a:hover{ color:#f69; text-decoration:none;}
.page2 a.on{background:#fff; color:#000; border:1px solid #ddd; text-decoration:none;}




.remai{ padding-top:20px;}
.remai .title{ color:#666; font-weight:bold; font-size:16px; line-height:20px; padding-left:20px;}
.remai ul{ width:1000px; overflow:hidden}
.remai ul li{ width:230px; margin-right:7px; margin-top:20px; float:left; border:1px solid #CCC}
.remai ul li img{ width:230px; height:328px;}
.remai ul li .p1{ color:#666; line-height:18px; margin:6px auto; height:36px;}
.remai ul li em{ font-style:normal}
.remai ul li em.em1{ color:#f69; font-size:16px;}
.remai ul li .p2{ padding-bottom:8px; border-bottom:1px dotted #CCC; margin-bottom:8px;}
.remai ul li p{ width:210px; margin:0 auto; overflow:hidden; }


.browser
{
	
	position:relative;
	
	height:1000px;
	width:100%;
	/*border:1px solid #b5b5b5;*/
	

	
}
.one
{
	position:relative;
	
	left:10px;
	top:10px;
	height:420px;
	width:250px;
	font-size: 15px;
     float:left;
	margin-left:40px;
	margin-top:20px;
	border:1px solid #b5b5b5; 
}
.one .picture
{
	position:relative;
	
	left:10px;
	top:10px;
	height:330px;
	width:220px;
	font-size: 15px;
	
}
.clear
{
	clear:both;
}
.one.picture img
{
	height:330px;
	width:220px;
	margin-bottom:10px;
}
.one .name
{
	position:absolute;
	
	left:10px;
	
	height:30px;
	width:220px;
	font-size: 15px;
	margin-top:20px;
}

.one .money
{
	position:absolute;
	
	left:10px;
	
	height:30px;
	width:220px;
	font-size: 15px;
	margin-top:50px;
}
.one span
{
	margin-right:20px;
}
.clear
{
	clear:both;
}
.fenye
{
	position: relative;
	bottom:-60px;
	left:650px;
	width:250px;
	height:50px;
    /*border:1px solid #000;*/
}



